<!DOCTYPE html>
<html>
<head>
  <title>Add Doctor</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <h1>Add New Doctor</h1>
  <form method="POST" action="/doctors/create">
    <input name="name" placeholder="Name" required><br>
    <input name="specialization" placeholder="Specialization" required><br>
    <input name="contact" placeholder="Contact Number" required><br>
    <input name="availability" placeholder="Availability (e.g. 9 AM - 5 PM)" required><br>
    <button type="submit">Add Doctor</button>
  </form>
</body>
</html>