<!DOCTYPE html>
<html>
<head>
  <title>Add Patient</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <h1>Add New Patient</h1>
  <form method="POST" action="/patients/create">
    <input name="aadhaar_no" placeholder="Aadhaar Number" required><br>
    <input name="name" placeholder="Name" required><br>
    <input name="age" type="number" placeholder="Age" required><br>
    <input name="gender" placeholder="Gender" required><br>
    <input name="contact" placeholder="Contact Number" required><br>
    <input name="disease" placeholder="Disease/Issue" required><br>
    <button type="submit">Add Patient</button>
  </form>
</body>
</html>